$north-color: #6ec8fa;
$east-color: #96f06e;
$south-color: #fa6982;
$west-color: #f59b14;
$ring-color: #808080;

body {
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    overflow: hidden;
}

#compass {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#center {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: auto;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#center img {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
}

#center svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
}

.circle {
    height: 200px;
    width: 200px;
    transition: stroke-dasharray 1s, stroke 1s;
    stroke-width: 10;
    fill: none;
}

#circle-north {
    stroke: $north-color;

    &.loser {
        #compass.inactive & {
            stroke: $ring-color;
        }
    }
}

#circle-east {
    stroke: $east-color;

    &.loser {
        #compass.inactive & {
            stroke: $ring-color;
        }
    }
}

#circle-south {
    stroke: $south-color;

    &.loser {
        #compass.inactive & {
            stroke: $ring-color;
        }
    }
}

#circle-west {
    stroke: $west-color;

    &.loser {
        #compass.inactive & {
            stroke: $ring-color;
        }
    }
}

#circle-back {
    stroke: $ring-color;
}

#timer {
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
    text-align: center;
    font-size: 2em;
    color: white;

    &.visible {
        visibility: visible;
    }

    &.invisible {
        visibility: hidden;
    }
}

.direction {
    display: inline-grid;
    margin: auto;
    text-align: center;
    transition: opacity 1s;

    &.loser {
        #compass.inactive & {
            opacity: 0.25;
        }
    }

    &.visible {
        visibility: visible;
    }

    &.invisible {
        visibility: hidden;
    }
}

.direction-bits {
    color: white;
    background-color: $ring-color;
    border-radius: 1em;
}

.direction-label {
    font-size: 1.1em;
}

#direction-north {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: $north-color;
}

#direction-east {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    color: $east-color;
}

#direction-south {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    color: $south-color;
}

#direction-west {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    color: $west-color;
}
